<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
  <title>Arococo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{{ url_for('static', filename='images/arococo_sign.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,400i,500,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



 
</head>
<body dir="rtl">
  <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <p>Loading...</p>
    </div>
  </div>
  <div class="page" dir="rtl">
    <!-- Page Header -->
    <header class="section page-header context-dark" id="home">
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item active"><a class="rd-nav-link" href="#home">בית</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#about">אודות</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">צור קשר</a></li>
                </ul>
              </div>
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <div class="rd-navbar-brand">
                  <a class="brand" href="#home">
                    <img src="{{ url_for('static', filename='images/AROCOCONew logoFINAL_לבן.png') }}" alt="" width="189" height="35"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <section class="section bg-gray-900 box-custom-1" dir="ltr">
      <div class="box-custom-1-aside">
        <ul class="box-custom-1-list">
          <li class="wow fadeInLeft" data-wow-delay=".5s">
            <a class="link link-social" href="#">
              <div class="icon novi-icon fa-facebook"></div>
            </a>
          </li>
          <li class="wow fadeInLeft" data-wow-delay=".7s">
            <a class="link link-social" href="https://www.instagram.com/arococodesign/?utm_source=qr&igsh=MWluMXhlYXpsNGtkNA%3D%3D">
              <div class="icon novi-icon fa-instagram"></div>
            </a>
          </li>
          <li class="wow fadeInLeft" data-wow-delay=".7s">
            <a class="link link-social" href="https://a-rococo.com/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8a8 8 0 0 1-7.022 7.94l1.902-7.098a3 3 0 0 0 .05-1.492A3 3 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8M0 8a8 8 0 0 0 7.927 8l1.426-5.321a3 3 0 0 1-.723.255 3 3 0 0 1-1.743-.147 3 3 0 0 1-1.043-.7L.633 4.876A8 8 0 0 0 0 8m5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a3 3 0 0 0-1.252.243 2.99 2.99 0 0 0-1.81 2.59M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="box-custom-1-main" style="background-image: url('/static/images/home-01-1676x731.jpg)')">
  <div class="block-sm">
    <h2 class="wow fadeInRight" data-wow-delay=".5s">איך להפוך למתאם/ת קשרי לקוחות ושינויי דיירים ?<br></h2>
    <p class="wow fadeInRight" data-wow-delay=".6s">סטודיו ארוקוקו המתמחה במתן שירותים לקבלנים מזמין אתכם לסדנה חד פעמית</p>
    <a class="button button-primary button-shadow wow fadeInRight" data-wow-delay=".7s" href="#">נלמד כיצד לייצר הכנסה נוספת <br>כמתאם/ת שינויי דיירים וקשרי לקוחות</a>
  </div>
</div>

    </section>

    <section class="section section-lg bg-white bg-img-custom" id="about" style="background-image: url('images/about-background.jpg')')">
      <div class="container container-custom-left">
        <div class="row justify-content-between row-60 row-md-30 flex-wrap-reverse flex-lg-wrap">
          <div class="col-lg-7">
            <div class="row row-41">
              <div class="col-xs-4 maw-29">
                <div class="row row-41">
                  <div class="col-12">
                    <!-- <div class="box-custom-3 wow fadeInLeft" data-wow-delay=".7s"><img class="mt-112" src="images/home-11-226x261.jpg" alt="" width="226" height="261"/> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="row row-41">
                  <div class="col-12">
                    <div class="box-custom-3 wow fadeInLeft" data-wow-delay=".5s"><img src="{{ url_for('static', filename='images/designers2.JPG') }}" alt="" class="img-fluid"/>
                      <div class="box-custom-3-container">
                        <div class="box-custom-3-wrap">
                          <div class="box-custom-3-item">
                            <p class="box-custom-3-name">אלונה יחיאלי & רויטל הוד ייני</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="box-custom-3 box-custom-3-border wow fadeInLeft" data-wow-delay=".6s">
                      <div class="box-custom-3-border-dashed"></div>
                      <!-- <div class="box-custom-3-border-angel"></div><img src="images/home-14-257x261.jpg" alt="" width="257" height="261"/> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xxl-4" dir="rtl">
            <div class="box-custom-2">
              <h2 class="wow fadeInRight" data-wow-delay=".5s">מי אנחנו ?</h2>
              <p class="wow fadeInRight" data-wow-delay=".6s">סטודיו ארוקוקו הוקם בשנת 2003 על ידי בוגרות הטכניון אלונה יחיאלי ורויטל הוד-ייני והינו בעל נסיון של 20 שנה בתחום. <br>הסטודיו מספק שירותי מיקור חוץ (outsourcing) מקצועיים למספר קבלנים ויזמים בתחום הבניה ומייעץ בתחום תכנון, עיצוב, שינויי דיירים וקשרי לקוחות.</p>
              <h2 class="wow fadeInRight" data-wow-delay=".5s">תוכן הסדנה</h2>
              <ul class="list index-list list-classic-wrap">
                <li class="unit unit-spacing-lg align-items-start list-classic flex-column flex-xs-row wow fadeInRight" data-wow-delay=".7s">
                  <div class="unit-left list-index-counter">
                    <div class="list-classic-rectangle"></div>
                    <div class="icon novi-icon fa fa-search icon-xl"></div>
                  </div>
                  <div class="unit-body">
                    <h4>כיצד להתניע פרוייקט<h4>
                  </div>
                </li>
                <li class="unit unit-spacing-lg align-items-start list-classic flex-column flex-xs-row wow fadeInRight" data-wow-delay=".8s">
                  <div class="unit-left list-index-counter">
                    <div class="list-classic-rectangle"></div>
                    <div class="icon novi-icon fa fa-search icon-xl"></div>
                  </div>
                  <div class="unit-body">
                    <h4>כיצד מתמחרים שינויים</h4>
                  </div>
                </li>
                <li class="unit unit-spacing-lg align-items-start list-classic flex-column flex-xs-row wow fadeInRight" data-wow-delay=".9s">
                  <div class="unit-left list-index-counter">
                    <div class="list-classic-rectangle"></div>
                    <div class="icon novi-icon fa fa-search icon-xl"></div>
                  </div>
                  <div class="unit-body">
                    <h4>כלים לבקרה ומעקב</h4>
                  </div>
                </li>
                <!-- Additional List Items -->
                <li class="unit unit-spacing-lg align-items-start list-classic flex-column flex-xs-row wow fadeInRight" data-wow-delay=".8s">
                  <div class="unit-left list-index-counter">
                    <div class="list-classic-rectangle"></div>
                    <div class="icon novi-icon fa fa-search icon-xl"></div>
                  </div>
                  <div class="unit-body">
                    <h4>עבודה מול דיירים</h4>
                  </div>
                </li>
                <li class="unit unit-spacing-lg align-items-start list-classic flex-column flex-xs-row wow fadeInRight" data-wow-delay=".8s">
                  <div class="unit-left list-index-counter">
                    <div class="list-classic-rectangle"></div>
                    <div class="icon novi-icon fa fa-search icon-xl"></div>
                  </div>
                  <div class="unit-body">
                    <h4> ממשקי עבודה מול מנהלי עבודה ומפקחים</h4>
                  </div>
                </li>
                
              </ul>
              <br>
              <br>
              <div class="block-sm">
                <h2 class="wow fadeInRight" data-wow-delay=".5s">עוסק/ת בתחום עיצוב הפנים והבניה ? <br>רוצה להגדיל את ההכנסה שלך ? <br></h2>
                <p class="wow fadeInRight" data-wow-delay=".6s">בסדנה תקבלו כלים כיצד לצאת לדרך בתחום שינויי דיירים וקשרי לקוחות </p>
                <a class="button button-primary button-shadow wow fadeInRight" data-wow-delay=".7s" href="#">לפרטים נוספים: <br>לחצו כאן</a>
              </div> 
          </div>
        </div>
      </div>
    </section>

   
    <section class="section section-lg bg-gray-200" id="event-details">
      <div class="container">
        <h2 class="text-dark wow fadeInUp" data-wow-delay=".5s">פרטי הסדנה</h2>
        <section class="section section-lg bg-gray-200" id="event-details">
          <div class="container">
            <h2 class="text-dark wow fadeInUp" data-wow-delay=".5s">פרטי הסדנה</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="event-detail wow fadeInUp" data-wow-delay=".6s">
                  <div class="event-icon">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <div class="event-info">
                    <h4>תאריך</h4>
                    <p>July 25, 2024</p> 
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="event-detail wow fadeInUp" data-wow-delay=".7s">
                  <div class="event-icon">
                    <i class="fas fa-clock"></i>
                  </div>
                  <div class="event-info">
                    <h4>שעה</h4>
                    <p>10:30</p> 
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="event-detail wow fadeInUp" data-wow-delay=".8s">
                  <div class="event-icon">
                    <i class="fas fa-video"></i> <!-- Changed from map marker to video icon for Zoom -->
                  </div>
                  <div class="event-info">
                    <h4>Zoom</h4>
                      <i class="fas fa-link"></i> <!-- Link icon for Zoom -->
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="event-detail wow fadeInUp" data-wow-delay=".9s">
                  <div class="event-icon">
                    <i class="fas fa-coins"></i>
                  </div>
                  <div class="event-info">
                    <h4>עלות</h4>
                    <p>549₪</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="event-details-text mt-4">
              <p>*פרטים נוספים ישלחו לנרשמים לסדנה*</p>
            </div>
          </div>
        </section>
        
        <div class="block-sm">
        <a class="button button-primary button-shadow wow fadeInRight" data-wow-delay=".7s" href="#">לנרשמים עד תאריךxxxx <br>439₪ בלבד</a>
        </div>
        <div class="event-details-text mt-4">
          <p>*אורך הסדנה כשעתיים וחצי*</p>
          <p>*פרטים נוספים ישלחו לנרשמים לסדנה*</p>
        </div>
      </div>
    </section>
    
    

    <section class="section section-lg bg-white" id="kitchen">
      <img src="{{ url_for('static', filename='images/kitchen.jpg') }}" alt="" class="img-fluid">
    </section>

    <section class="section section-lg bg-white" id="contacts" dir="rtl">
      <div class="container">
        <h2 class="text-dark wow fadeInUp" data-wow-delay=".5s">צור קשר</h2>
        <form class="contact-form wow fadeInUp" data-wow-delay=".6s" method="post" action="/send-message">
          <div class="form-group">
            <label for="name">שם</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="שם מלא" required>
          </div>
          <div class="form-group">
            <label for="email">דוא"ל</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="כתובת מייל" required>
          </div>
          <div class="form-group">
            <label for="message">הודעה</label>
            <textarea class="form-control" id="message" name="message" rows="5" placeholder="כתוב את הודעתך כאן" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">שלח</button>
        </form>
      </div>
    </section>
ט.ל.ח
    <footer class="section bg-gray-900 text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2024 סטודיו ארוקוקו. כל הזכויות שמורות.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>